/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 @font-face {
    font-family: 'PP NeueBit';
    src: url('/fonts/PPNeueBit-Bold.woff2') format('woff2'),
        url('/fonts/PPNeueBit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
	/* Main colors */
	--color-gray-800: #1E293B;
	--color-gray-500: #34495E;
	--color-gray-400: #64748B;
	--color-gray-300: #94A3B8;
	--color-gray-100: #C6D0E2;
	--color-gray-75: #e7effd;
	--color-gray-50: #FAFCFF;
	--color-highlight: #FE1DE8;
	--color-link: #0000FF;

	/* Theme colors */
	--color-ts: #007ACC;
	--color-js: #D5C01E;
	--color-react: #41C6EB;
	--color-node: #74C36C;
	--color-vue: #41B883;
	--color-git: #E95026;
	--color-strapi: #4945FF;
	--color-nextjs: #000000;

	/* Fonts */
	--font-sans: 'Public Sans Variable', sans-serif;
	--font-pixel: 'PP NeueBit', sans-serif;
	--font-mono: 'Fira Code', monospace;

	/* Font sizes */
	--font-base: 1rem; /* 16px */
	--font-xs: 0.75rem; /* 12px */
	--font-sm: 0.875rem; /* 14px */
	--font-lg: 1.125rem; /* 18px */
	--font-xl: 1.25rem; /* 20px */
	--font-2xl: 1.5rem; /* 24px */
	--font-3xl: 1.875rem; /* 30px */
	--font-4xl: 2.25rem; /* 36px */
	--font-5xl: 3rem; /* 48px */
	--font-6xl: 3.75rem; /* 60px */
	--font-7xl: 4.5rem; /* 72px */
}

html, body {
	height: 100%;
}

body {
	font-family: var(--font-sans);
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: var(--color-gray-50);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 16px;
	line-height: 1.8;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	flex: 1;
}
/* 
@media (max-width: 720px) {
	body {
		font-size: 14px;
	}
} */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-pixel);;
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
}
h1 {
	font-size: var(--font-6xl);
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: var(--font-3xl);
	line-height: var(--font-3xl);
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}

p {
	margin: 0;
}

strong,
b {
	font-weight: 700;
}

a {
	text-decoration: none;
}

a.card {
	display: flex;
	position: relative;
	transition: all 250ms ease;
	
	&::after {
		content: ' ↗';
		font-family: var(--font-pixel);
		font-size: var(--font-xl);
		line-height: var(--font-xl);
		color: var(--color-gray-300);
		position: absolute;
		top: 0.8rem;
		right: 1rem;
		transition: all 250ms ease;
	}

	&:hover {
		border-color: var(--color-link);

		&::after {
			color: var(--color-link);
			transform: translate(4px, -4px);
		}
	}
}

a.ext-link {
	text-decoration: none;
	font-family: var(--font-pixel);
	letter-spacing: 0.5px;
	transition: all 250ms ease;

	&::after {
		content: ' ↗';
		font-size: inherit;
		display: inline-block;
		transition: all 250ms ease;
		line-height: 1;
	}

	&:hover {
		&::after {
			transform: translate(4px, -4px);
		}
	}

	& .brand {
      width: 1rem;
      height: 1rem;
      vertical-align: middle;
    }
	
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.v-separator,
.h-separator {
	background-color: var(--color-gray-400);
	display: inline-block;
	transform: rotate(45deg);
	vertical-align: middle;
}

.v-separator {
	margin: 0.5rem auto;
	width: 8px;
	height: 1px;
	position: relative;

	&.lg {
		margin: 1rem auto;
	}

	&.xl {
		margin: 1.5rem auto;
	}

	&::before {
		content: '';
		display: inline-block;
		width: 8px;
		height: 1px;
		background-color: var(--color-gray-400);
        position: absolute;
        left: 8px;
        bottom: 8px;
	}

	&::after {
		content: '';
		display: inline-block;
		width: 8px;
		height: 1px;
		background-color: var(--color-gray-400);
        position: absolute;
        right: 8px;
        top: 8px;
	}
}

.h-separator {
	margin: 0 0.5rem;
	width: 3px;
	height: 3px;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.container {
	width: 100%;
	max-width: 56rem; /* 896px */
	margin: 0 auto;
	padding: 0 1em;
}

.label-display {
	font-size: var(--font-xl);
	line-height: var(--font-2xl);
	font-family: var(--font-pixel);
	color: var(--color-gray-400);
	margin-bottom: 1rem;
	letter-spacing: 2px;

	&.highlight {
		color: var(--color-highlight)
	}
}

.card {
	border: 1px solid var(--color-gray-75);
	background-color: white;
	border-radius: 6px;
	padding: 1.5rem;
}