---
import type {HTMLAttributes} from 'astro/types'

type Props = HTMLAttributes<'a'>

const {href, class: className, ...props} = Astro.props

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '')
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === '/' + (subpath?.[0] || '')
---

<a href={href} class:list={['navlink', className, {active: isActive}]} {...props}>
  <slot />
</a>
<style>
  .navlink {
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    color: var(--color-gray-400);
  }

  .navlink:not(.active):hover {
    color: var(--color-highlight);
  }

  .navlink.active {
    font-weight: 600;
    color: var(--color-gray-500);
  }
</style>
